#bgcolor{
    min-height: 100px;
}

#main{
    max-width: 500px;
    padding: 10px;
}

.btn-group-wrap {
    text-align: center;
}

.btn-group-wrap div{
    padding-bottom: 6px;
}

div.btn-group {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}

a {
    float: left;
}

.letter-box{
    width: 60px;
    height: 60px;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
}

.full-correct{
    border: 0px;
    background-color: rgb(73, 214, 108);
}


.part-correct{
    border: 0px;
    background-color: rgb(230, 220, 80);
}

.current{
    border: 2px solid gray;
}

.filled{
    border: 2px solid lightgray;
}

.unfilled{
    border: 2px solid lightgray;
}

#guesses div{
    padding-bottom: 5px;
}

#keyboard{
    max-width: 560px;
}

#keyboard *{
    font-size: 22px;
}

button{
    height: 64px;
}